<html>
    <body>
        <form method="post" action="/edit/<%= user_array._id %>">
            <table>
                <tr>
                    <td>name:</td>
                    <td><input type="text" name="txt1" value="<%= user_array.user_name %>" required></td>
                </tr>

                <tr>
                    <td>email:</td>
                    <td><input type="text" name="txt2" value="<%= user_array.user_email %>" required></td>
                </tr>

                <tr>
                    <td>phone:</td>
                    <td><input type="text" name="txt3" value="<%= user_array.user_phone %>" required></td>
                </tr>

                <tr>
                    <td>password:</td>
                    <td><input type="text" name="txt4" value="<%= user_array.user_password %>" required></td>
                </tr>

                <tr>
                    <td>
                        <input type="submit">
                        <input type="button" value="display" onclick="window.Location='display'">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
