<table>

    <tbody>
        <tr>
            <td>Id</td>
            <td>:</td>
            <td><%= user_array._id %></td>
        </tr>
        <tr>
            <td>name:</td>
            <td>:</td>
            <td><%= user_array.user_name %></td>
        </tr>
        <tr>
            <td>email:</td>
            <td>:</td>
            <td><%= user_array.user_email %></td>
        </tr>
        <tr>
            <td>phone:</td>
            <td>:</td>
            <td><%= user_array.user_phone %></td>
        </tr>
        <tr>
            <td>password:</td>
            <td>:</td>
            <td><%= user_array.user_password %></td>
        </tr>
    </tbody>
</table>